*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0a0a0a;
color:white;
}

.fleet-hero{
height:70vh;
background:url("https://images.unsplash.com/photo-1503736334956-4c8f8e92946d")
center/cover;
position:relative;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

@media screen and (max-width:1306px) {
    .fleet-hero{
        height: 85vh;
    }
    .hero-content {
        margin-top: 80px;
    }
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.65);
}

.hero-content{
position:relative;
z-index:2;
max-width:700px;
padding-top:60px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
}

.hero-content h1{
font-size:4rem;
color:#d4af37;
margin-bottom:15px;
}

.hero-content p{
font-size:1.1rem;
line-height:1.8;
}

.fleet-controls{
display:flex;
justify-content:center;
gap:20px;
padding:40px 20px;
flex-wrap:wrap;
}

.fleet-controls input,
.fleet-controls select{
padding:15px;
width:280px;
border:none;
outline:none;
background:#1a1a1a;
color:white;
border-radius:8px;
}

.fleet-grid{
width:90%;
max-width:1400px;
margin:auto;
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(320px,1fr));
gap:30px;
padding-bottom:80px;
}

.car-card{
background:#121212;
border-radius:15px;
overflow:hidden;
transition:.4s;
cursor:pointer;
border:1px solid transparent;
}

.car-card:hover{
transform:translateY(-10px);
border-color:#d4af37;
box-shadow:0 15px 40px rgba(212,175,55,.25);
}

.car-card img{
width:100%;
height:240px;
object-fit:cover;
}

.car-info{
padding:20px;
}

.car-info h3{
margin-bottom:8px;
font-size:1.4rem;
}

.car-info span{
display:inline-block;
background:#d4af37;
color:black;
padding:5px 12px;
border-radius:30px;
font-weight:bold;
margin-bottom:20px;
}

.specs{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-bottom:20px;
}

.specs p{
color:#ccc;
}

.card-footer{
display:flex;
justify-content:space-between;
align-items:center;
}

.card-footer h4{
color:#d4af37;
font-size:1.4rem;
}

.card-footer button{
padding:12px 22px;
background:#d4af37;
border:none;
font-weight:bold;
cursor:pointer;
border-radius:8px;
transition:.3s;
}

.card-footer button:hover{
background:white;
}

@media(max-width:768px){
.hero-content {
    padding-top:60px;
}
.hero-content h1{
font-size:2.5rem;
}
.nav-menu ul li a{
font-size:1.2rem;
}
.nav-menu ul li{
    padding: 10px;
}
.hero-content p{
font-size:1rem;
}

.fleet-grid{
grid-template-columns:1fr;
}

.fleet-controls input,
.fleet-controls select{
width:100%;
}

}
@media(max-width:480px){
    .nav-menu{
        justify-content:space-between;
    }
}
.no-results{
    text-align:center;
    color:#d4af37;
    font-size:1.7rem;
    padding:40px 20px;
    display:none;
}