*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins;

background:#060606;

color:white;

overflow-x:hidden;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 8%;

position:fixed;

width:100%;

z-index:1000;

backdrop-filter:blur(20px);

}

.logo{

font-size:40px;

font-weight:700;

color:#d9b26f;

}

ul{

display:flex;

gap:40px;

list-style:none;

}

a{

text-decoration:none;

color:white;

}

.book-btn{

padding:14px 28px;

border:1px solid #d9b26f;

border-radius:50px;

transition:.4s;

}

.book-btn:hover{

background:#d9b26f;

color:black;

}



.hero{

height:100vh;
padding-top: 140px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 80px;
background:    
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.7)
),

url("Screenshot_20260522-112055_1.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:flex-start;

align-items:center;

text-align:center;
min-height: 100vh;

}



.hero-content{

width:100%;

max-width:900px;
animation:fade 2s;
margin:auto;
padding-top: 40px;
}

.tag{

color:#d9b26f;

letter-spacing:5px;

margin-bottom:20px;

}

h1{

font-size:90px;

line-height:1;

}

.sub{

margin-top:30px;

font-size:22px;

color:#bbb;

}



.hero-buttons{

margin-top:50px;

display:flex;

justify-content:center;

gap:20px;

}

.hero-buttons a{

padding:18px 40px;

border-radius:50px;

transition:.5s;

}



.hero-buttons a:first-child{

background:#d9b26f;

color:black;

}



.hero-buttons a:hover{

transform:translateY(-6px);

}



.stats{

display:flex;

justify-content:center;

gap:100px;

padding:120px;

}



.stats h2{

font-size:60px;

color:#d9b26f;

}



.experience{

padding:120px;

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

}



.left h2{

font-size:60px;

}



.glass-card{

height:220px;

margin-bottom:25px;

display:flex;

justify-content:center;

align-items:center;

font-size:32px;

border-radius:30px;

background:

rgba(255,255,255,.06);

backdrop-filter:blur(25px);

transition:.6s;

}



.glass-card:hover{

transform:

translateY(-10px)

rotate(1deg);

}



.cta{

padding:180px;

text-align:center;

}



.cta h2{

font-size:70px;

}



.cta a{

display:inline-block;

margin-top:30px;

padding:18px 50px;

background:#d9b26f;

color:black;

border-radius:50px;

}



@keyframes fade{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:none;

}

}

@media screen and (max-width:1200px){
.hero{
    height:auto;
}

}
@media screen and (max-width:992px){

nav{

padding:20px 5%;

}

.hero{

min-height:100vh;

padding:
140px
40px
80px;

}

.hero-content{

width:100%;

max-width:700px;

}

h1{

font-size:60px;

}

.sub{

font-size:20px;

}

.stats{

padding:80px 40px;

gap:40px;

}

.experience{

grid-template-columns:1fr;

padding:80px 40px;

}

.cta{

padding:100px 40px;

}

}



/* ================================= */
/* MOBILE */
/* ================================= */

@media screen and (max-width:768px){

nav{

/* padding:15px 20px; */
display:flex;
height:200px;
flex-direction:column;
/* flex-wrap:wrap; */

gap:15px;

}

ul{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
padding:0;
}
ul li a{
font-size:14px;
}
.book-btn{

width:100%;
max-width: 220px;
text-align:center;

}

.hero{
    padding-top: 200px;
    justify-content:flex-start;
}

.hero-content{

width:100%;

}

.tag{

font-size:12px;

letter-spacing:3px;

}

h1{

font-size:42px;

line-height:1.1;

}

.sub{

font-size:16px;

margin-top:20px;

}

.hero-buttons{

flex-direction:column;

width:100%;

}

.hero-buttons a{

width:100%;

padding:18px;

}

.stats{

flex-direction:row;

padding:70px 20px;

gap:30px;

}

.stats h2{

font-size:45px;

}

.experience{

padding:60px 20px;

}

.left h2{

font-size:34px;

}

.glass-card{

height:160px;

font-size:22px;

}

.cta{

padding:80px 20px;

}

.cta h2{

font-size:36px;

}

}



/* ================================= */
/* SMALL MOBILE */
/* ================================= */

@media screen and (max-width:480px){

.hero{

padding-top:300px;

}

h1{

font-size:34px;

}

.sub{

font-size:15px;

}

.stats h2{

font-size:34px;

}

.glass-card{

height:130px;

font-size:18px;

}

.cta h2{

font-size:28px;

}

}

@media screen and (max-width:360px){
    .hero{
    padding-top: 200px;
    }
}
